body {
    background-color: rgb(121, 203, 150);
}
.linha--1{ 
    position: absolute;
    top: 0%;
    width: 99%;
    height: 200px;
    background-color: rgb(15, 139, 98);
    border: none;
    margin: 10px auto;
    z-index: -2
;
}

.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img1 {
    width: 320px;
    height: 320px;
    float: left;
    margin-left: 10px;
    position: absolute;
    left : 40px;
    top: 40px;
    border-radius: 60%;
    border-style: solid;
    border-color: rgb(23, 116, 74);
    border-width: 15px;

    
}
h1{
    font-size: 100px;
    color: rgb(102, 217, 169);
    
}
h2{
    font-size: 50px;
    color: rgb(14, 101, 63);
    position: absolute;
    top: 200px;

}
.linha--2{
    position: absolute;
    top: 202px;
    background-color: rgba(41, 196, 129, 0.401);
    width: 99%;
    height: 100px;
    border: none;
    z-index: -1;
}
.informações{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 190px;
    color: #c0ffd8;
    font-size: x-large;
    font-style:oblique;
     

}
.card{
    background-color: rgb(86, 212, 147);
    text-align: center;
    width: 380px;
    height: 250px;
    padding: 20px;
    top: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(19, 121, 60);
   transition: transform 0.3s ease;

}
.card:hover {
    transform: translateY(-5px)
     
}
.instagram {
    position: relative;
}
.img2 {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 88px;
    height: 88px;
    z-index: 5;
    margin-top: 116px;
    transition: trasform 0.3s ease;
    box-shadow: 0 4px 8px rgb(39, 119, 89);
    border-radius: 25px;

}
.img2:hover{
    transform: scale(1.2);
}
.img3{
   position: absolute; 
   top: 98px;
   right: 230px;
   width: 70px;
   height: 70px;
   z-index: 6;
   margin-top: 120px;
   transition: tranform 0.3 ease;
   box-shadow: 0 4px 8px rgb(39, 119, 89);
   border-radius: 25px;
   border-color: rgb(93, 201, 144);
   border-width: 8px;
   border-style: solid;
}
.img3:hover{
    transform: scale(1.2);
}